@using BlogDotNet.UI.Consts

@model List<ArticleDto>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Makale Yönetimi /</span>Makaleler
    </h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">Makaleler</h5>
        <div class="table-responsive text-nowrap p-4">
            @if (User.IsInRole(RoleConsts.Superadmin) || User.IsInRole(RoleConsts.Admin))//Controller veya Area Bazında Yetkilendirme: [Authorize(Policy = "AdminPolicy")] kullanarak Admin area'ya sadece belirli rollerin erişmesini sağlayabilirsiniz.
            {
                <a class="btn btn-primary mb-4" asp-area="Admin" asp-controller="Article" asp-action="Add">
                    <i class="bx bx-plus"></i> Makale Ekle
                </a>
            }
            <table class="table table-bordered m-2 " id="articlesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Kategori</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach(var item in Model)
                    {
                        <tr name="@item.Id">
                            <td>@item.Title</td>
                            <td>@item.Category.Name</td>
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td>@item.CreatedBy</td>
                            <td>@(item.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                            <td>
                                @if (User.IsInRole(RoleConsts.Superadmin) || User.IsInRole(RoleConsts.Admin))
                                {
                                    <a class="btn-primary btn btn-sm" data-id="@item.Id" asp-area="Admin" asp-controller="Article" asp-action="Update" asp-route-articleId="@item.Id"><i class="bx bxs-edit"></i> Güncelle</a>
                                    <a class="btn-danger btn btn-sm" data-id="@item.Id" asp-area="Admin" asp-controller="Article" asp-action="Delete" asp-route-articleId="@item.Id"><i class="bx bxs-minus-circle"></i> Sil</a>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Başlık</th>
                        <th>Kategori</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
            </table>
            
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-12">

</div>
@section Scripts{
    <script src="~/js/articleIndex.js" type="application/ecmascript"></script>
}